.fans-page {
    .hero-buttons{
        margin-top: 40px;
        .btn-text{
            margin-left: 20px;

            @media screen and (max-width:767px){
                font-size: 13px;
                margin-left: 15px;
            }
        }
    }

    .list-group-number{
        margin: 20px 0px 0px;
        padding-left: 20px;
        color: #D4D2CF;

        li{
            list-style: decimal;
        }
    }
}