
// global css
html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a,
a:focus {
  outline: none;
}
p,h1,h2,h3,h4{ 
  margin: 0px;
}

ul {
  padding-left: 0px;
  margin: 0px;
}

ul li {
  list-style: none;
}

a,
a:hover {
  color: $white;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.w-full {
  width: 100%;
}
.h-full{
  height: 100%;
}

.bg-black {
  background-color: $black;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-center {
  text-align: center;
}

.hidden{
  display: none;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.text-sm{
  font-size: 13px;
}
.text-md{
  font-size: 17px;
}
.text-4xl{
  font-size: 40px;
}
// END global css


body {
  font-family: 'Graphik', sans-serif;
  margin: 0px;
  padding: 0px;
  position: relative;
}

header {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 90%;
  z-index: 99;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.text-4xl {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: -0.90px;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (max-width: 767px){
    font-size: 32 px;
  }
}

.text-title {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.35;
  letter-spacing: -0.55px;
  margin: 0;
  @media screen and (max-width: 767px){
    font-size: 28px;
  }
}

.text-base{
  font-size: 13px;
  letter-spacing: 0.55px;
  line-height: 24px;
  color: #D4D2CF;
}

.theme-text {
  font-size: 13px;
  line-height: 1.9;
  letter-spacing: 0.55px;
  margin: 0px;
  font-weight: 300;
  color: #B5B3B1;
}

.max-w-sm{
  max-width: 440px;
}
.mb-8{
  margin-bottom: 32px;
}


.scroll-bar-none{
  &::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: transparent; 
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }

}